PORT=5000
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
JWT_SECRET=V6Pw7tK3yN9qD2mX8aL5rF1cH4sJ0uE7bG6vQ3zW9nR2pY8kM5dT1xC4fS7hA0e
JWT_EXPIRES_IN=1d
